.inputs{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 20px;
    gap: 100px;
    margin-bottom: 20px;
    position: relative;
    width: 551px;
    height: 74px;
    left: 442px;
    top: 150px;
    background: #FFFFFF;
    border: 1px solid #006195;
    border-radius: 10px;
}
.h1{
    position: absolute;
    height: 48px;
    left: -3.68%;
    right: -3.76%;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.0944444px;
    color:#006195;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: absolute;
    width: 285px;
    height: 55px;
    left: 577px;
    top: 450px;
    background: #006195;
    border-radius: 10px;
}
.h6{
    position: absolute;
    height: 21px;
    left: 10.63%;
    right: 10.63%;
    top: 50px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.1px;
    color:#908E8E;
}
.text{
    color: #ffff;
}