.h1{
    position: absolute;
    width: 525.39px;
    height: 48px;
    left: 430px;
    top: 150px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 48px;
    text-align: center;
    color: #006195;
}
.cardNumber{
    box-sizing: border-box;
    position: absolute;
    width: 535px;
    height: 74px;
    left: 430px;
    top: 250px;
    background: #FFFFFF;
    border: 1px solid #006195;
    border-radius: 10px;
}
.date{
    box-sizing: border-box;
    position: absolute;
    width: 260px;
    height: 74px;
    left: 430px;
    top: 340px;
    background: #FFFFFF;
    border: 1px solid #006195;
    border-radius: 10px;
}
.cvc{
    box-sizing: border-box;
    position: absolute;
    width: 260px;
    height: 74px;
    left: 705px;
    top: 340px;
    background: #FFFFFF;
    border: 1px solid #006195;
    border-radius: 10px;
}
.name{
    box-sizing: border-box;
    position: absolute;
    width: 535px;
    height: 74px;
    left: 430px;
    top: 430px;
    background: #FFFFFF;
    border: 1px solid #006195;
    border-radius: 10px;
}
.btn{
    box-sizing: border-box;
    position: absolute;
    left: 550px;
    top: 540px;
    width: 285px;
    height: 55px;
    background: #006195;
    border-radius: 10px;
    color: #FFFFFF;
}